# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env


# Ignore other practice files
app.py
app2.py
app3.py
app4.py
image.py
personas.py


# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db