# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env


# Ignore other practice files
app.py
app2.py
app3.py
app4.py
image.py
app5.py
app6.py
app7.py
assignment1.py
assignment2.py
assignment3.py
assignment4.py
assignment5.py
assignment7.py

personas.py


# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db